body{
    margin:0;
    padding:0;
    font-family:"Comic Sans MS";
}

/* --- header --- */

header{      
    background: #F8F9FC;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);    
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
}
  
@media (max-width: 600px){
    header{
        flex-direction: column;
        align-items: flex-start;        
    }
}

header{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;  
 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
 
    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    
 
    visibility: visible !important;                     
}
 
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }           
    100% {
        transform: translateY(0%);
    }       
}
 
@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }           
    100% {
        -webkit-transform: translateY(0%);
    }   
}

header .header-right,
header .header-left{   
    margin-bottom: 0.5%;
    margin-top: 0.5%;
    margin-left: 5%;
    margin-right: 5%;   
}

header .header-right{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

#logo{
    width: 25%;    
}

#user-avatar{
    border: none;
    border-radius: 50%;    
    background-color: #FFB600;    
    width: 2.5em;
    height: 2.5em;
    z-index: 3;
    
}

#user-avatar:focus{
    outline: none;
}

#bell{
    color: #BEC9DA;
    margin-right: 1em;    
    z-index: 2;
}

#bell:hover{
    color: #9DADC5;
}

/* --- menu ---*/

#menuToggle{
    display: block;
    position: relative; 
}
  
#menuToggle a{
    text-decoration: none;
    text-align: center;
    color: #232323;  
    transition: color 0.3s ease;  
}
  
  
#menuToggle a:hover{
    color: #01ADEF;
}
  
#menuToggle input{
    display: block;
    width: 34px;
    height: 34px;
    position: absolute;
    top: -7px;
    left: -5px;  
    cursor: pointer;  
    opacity: 0; 
    z-index: 4;     
    -webkit-touch-callout: none;
}
  
#menuToggle input:hover ~ button{
    opacity: 1; 
    background-color: #BF9630;
}
  
#menuToggle input:checked ~ button{
    background-color: #BF9630;
} 

#menu{    
    opacity: 0;
    padding: 1em;
    position: absolute;
    right: 5%;    
    background: #F8F9FC;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);      
}

#menu li{   
    font-size: 100%;
    margin-bottom: 5%;
}
  
#menu #username{
    color: #959595;
    font-size: 80%;
    white-space: nowrap;
}
  
#menu hr {
    border: none;
    background-color: #C6C6C6;
    color: #C6C6C6; 
    height: 2px; 
} 
  
#menuToggle input:checked ~ ul{ 
    opacity: 1;
}


/* --- main --- */
main{
    display: flex; 
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;   

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
  
@media (max-width: 600px){
    main{
        flex-direction: column;
        align-items: flex-start;
    }
}

main h3{
    color: #C6C6C6;
    line-height: 2em;
    margin-bottom: 2em;
}

main h1{
    font-size: 3em;
    font-weight: lighter;
    line-height: 1em;
}

#ne-ura-image{   
   width: 25em;  
}

#btn-go-back{
  border: none;
  border-radius: 3px;
  background-color: #01ADEF;
  color: #FFFFFF;
  font-family:"Comic Sans MS";
  font-size: 1em;
  padding: 2%;
}

#btn-go-back:hover{
  background-color: #009FDC;
}

#btn-go-back:focus{
  outline: none;
}

/* --- message ---*/  
.message{
    float: right;
    position: absolute;
    bottom: 1em;
    right: 1em;
    z-index: 2;
}
.tn-box {
    width: 15em;
    margin-top: 1em;
	padding: 25px 15px;
	text-align: left;
	border-radius: 5px;   
	opacity: 0;	
    display: none;       
}

.tn-box p {
	font-size: 14px;
	margin: 0;
    padding: 0 10px 0 60px;
    color: #FFFFFF;
}

.tn-box .box-title{
    font-size: 16px;
    font-weight: bold;
}

.tn-box p:before{
	text-align: center;
	margin-top: -17px;
	top: 50%;
	left: 20px;
	width: 30px;
	content: 'i';
	font-size: 30px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;	
}

.tn-box-color-1 p:before{
    content: '✖';
}

.tn-box-color-2 p:before{
    content: '✔';
}

.tn-box-color-3 p:before{
    content: '!';
}

.tn-progress {
	width: 0;
	height: 4px;
	background: rgba(255,255,255,0.3);
	position: absolute;
	bottom: 5px;
	left: 2%;
	border-radius: 3px;
	box-shadow: 
		inset 0 1px 1px rgba(0,0,0,0.05), 
		0 -1px 0 rgba(255,255,255,0.6);
}

.tn-box-color-1{
	background: rgba(255, 44, 0, 0.7);
}
.tn-box-color-2{
	background: rgba(107, 171, 105, 0.7);
}
.tn-box-color-3{
	background: rgba(255, 182, 0, 0.7);
}

.message .tn-box {
	display: block;
	-webkit-animation: fadeOut 5s linear forwards;
	-moz-animation: fadeOut 5s linear forwards;
	-o-animation: fadeOut 5s linear forwards;
	-ms-animation: fadeOut 5s linear forwards;
	animation: fadeOut 5s linear forwards;
}

.message .tn-box .tn-progress {
	-webkit-animation: runProgress 4s linear forwards 0.5s;
	-moz-animation: runProgress 4s linear forwards 0.5s;
	-o-animation: runProgress 4s linear forwards 0.5s;
	-ms-animation: runProgress 4s linear forwards 0.5s;
	animation: runProgress 4s linear forwards 0.5s;
}

.tn-box.tn-box-active {
	display: block;
	-webkit-animation: fadeOut 5s linear forwards;
	-moz-animation: fadeOut 5s linear forwards;
	-o-animation: fadeOut 5s linear forwards;
	-ms-animation: fadeOut 5s linear forwards;
	animation: fadeOut 5s linear forwards;
}

.tn-box.tn-box-active .tn-progress {
	-webkit-animation: runProgress 4s linear forwards 0.5s;
	-moz-animation: runProgress 4s linear forwards 0.5s;
	-o-animation: runProgress 4s linear forwards 0.5s;
	-ms-animation: runProgress 4s linear forwards 0.5s;
	animation: runProgress 4s linear forwards 0.5s;
}


@-webkit-keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; -webkit-transform: translateY(0px);}
	99% { opacity: 0; -webkit-transform: translateY(-30px);}
	100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; -moz-transform: translateY(0px);}
	99% { opacity: 0; -moz-transform: translateY(-30px);}
	100% { opacity: 0; }
}

@-o-keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; -o-transform: translateY(0px);}
	99% { opacity: 0; -o-transform: translateY(-30px);}
	100% { opacity: 0; }
}

@-ms-keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; -ms-transform: translateY(0px);}
	99% { opacity: 0; -ms-transform: translateY(-30px);}
	100% { opacity: 0; }
}

@keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; transform: translateY(0px);}
	99% { opacity: 0; transform: translateY(-30px);}
	100% { opacity: 0; }
}

@-webkit-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-moz-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-o-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@-ms-keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

@keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}

.message .tn-box:nth-child(2) {
	-webkit-animation-duration: 6s;
	-moz-animation-duration: 6s;
	-o-animation-duration: 6s;
	-ms-animation-duration: 6s;
	animation-duration: 6s;
	
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.message  .tn-box:nth-child(2) .tn-progress {
	-webkit-animation-duration: 5s;
	-moz-animation-duration: 5s;
	-o-animation-duration: 5s;
	-ms-animation-duration: 5s;
	animation-duration: 5s;
	
	-webkit-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
	-ms-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.message  .tn-box:nth-child(3) {
	-webkit-animation-duration: 9s;
	-moz-animation-duration: 9s;
	-o-animation-duration: 9s;
	-ms-animation-duration: 9s;
	animation-duration: 9s;
	
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.message  .tn-box:nth-child(3) .tn-progress {
	-webkit-animation-duration: 7.5s;
	-moz-animation-duration: 7.5s;
	-o-animation-duration: 7.5s;
	-ms-animation-duration: 7.5s;
	animation-duration: 7.5s;
	
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.tn-box:hover{
    -webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	-ms-animation-play-state: paused;
	animation-play-state: paused;
}
